<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/CSS/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/CSS/styles.css" rel="stylesheet" type="text/css">
    <script src="/Content/JS/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/Content/JS/scripts.js" type="text/javascript"></script>
    <meta charset="utf-8">
    <title>Restaurant</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Where to Eat in Portland<small>Find restaurants by cuisine</small></h1>
      </div>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
