a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Crete Round', serif;
}

.panel-body{
  display: none;
}
.hideThis {
  display: none;
}

.panel-heading {
  text-align: center;
}

.cuisine {
  font-size: 32px;
}

.panel-footer {
  text-align: center;
}
